# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
.venv/
env/

# macOS
.DS_Store

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Dataset
data/

# Trained model checkpoints
models/*.pth
models/*.pt
models/*.ckpt

# Streamlit secrets
.streamlit/secrets.toml

# Logs
*.log